// SPDX-License-Identifier: GPL-2.0

#include "tegra234.dtsi"

/ {
	model = "NVIDIA Jetson Orin NX";
	compatible = "nvidia,p3767-0000", "nvidia,tegra234";

	bus@0 {
		i2c@3160000 {
			status = "okay";

			eeprom@50 {
				compatible = "atmel,24c02";
				reg = <0x50>;

				label = "module";
				vcc-supply = <&vdd_1v8_hs>;
				address-width = <8>;
				pagesize = <8>;
				size = <256>;
				read-only;
			};
		};

		padctl@3520000 {
			vclamp-usb-supply = <&vdd_1v8_ao>;
			avdd-usb-supply = <&vdd_3v3_ao>;
		};

		rtc@c2a0000 {
			status = "okay";
		};

		pmc@c360000 {
			nvidia,invert-interrupt;
		};
	};

	vdd_5v0_sys: regulator-vdd-5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "VDD_5V0_SYS";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	vdd_1v8_hs: regulator-vdd-1v8-hs {
		compatible = "regulator-fixed";
		regulator-name = "VDD_1V8_HS";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vdd_1v8_ao: regulator-vdd-1v8-ao {
		compatible = "regulator-fixed";
		regulator-name = "VDD_1V8_AO";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		vin-supply = <&vdd_5v0_sys>;
	};

	vdd_3v3_ao: regulator-vdd-3v3-ao {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3_AO";
		regulator-min-microvolt = <33000000>;
		regulator-max-microvolt = <33000000>;
		regulator-always-on;
		vin-supply = <&vdd_5v0_sys>;
	};

	thermal-zones {
		cpu-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <1000>;
			status = "okay";

			trips {
				critical {
					temperature = <104500>;
					hysteresis = <0>;
					type = "critical";
				};

				hot {
					temperature = <99000>;
					hysteresis = <1000>;
					type = "hot";
				};

				board_trip_passive: passive {
					temperature = <95000>;
					hysteresis = <2000>;
					type = "passive";
				};

				board_trip_active2: active-2 {
					temperature = <80000>;
					hysteresis = <4000>;
					type = "active";
				};

				board_trip_active1: active-1 {
					temperature = <65000>;
					hysteresis = <4000>;
					type = "active";
				};

				board_trip_active0: active-0 {
					temperature = <50000>;
					hysteresis = <4000>;
					type = "active";
				};
			};

			cooling-maps {
				passive {
					cooling-device = <&fan 3 3>;
					trip = <&board_trip_passive>;
				};

				active2 {
					cooling-device = <&fan 2 3>;
					trip = <&board_trip_active2>;
				};

				active1 {
					cooling-device = <&fan 1 2>;
					trip = <&board_trip_active1>;
				};

				active0 {
					cooling-device = <&fan 0 1>;
					trip = <&board_trip_active0>;
				};
			};
		};

		gpu-thermal {
			status = "okay";
		};

		cv0-thermal {
			status = "okay";
		};

		cv1-thermal {
			status = "okay";
		};

		cv2-thermal {
			status = "okay";
		};

		soc0-thermal {
			status = "okay";
		};

		soc1-thermal {
			status = "okay";
		};

		soc2-thermal {
			status = "okay";
		};

		tj-thermal {
			status = "okay";
		};
	};
};
