// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "tegra194-p3668-0001.dtsi"
#include "tegra194-p3509-0000.dtsi"

/ {
	model = "NVIDIA Jetson Xavier NX Developer Kit (eMMC)";
	compatible = "nvidia,p3509-0000+p3668-0001", "nvidia,tegra194";

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer@2,573a0000 {
			compatible = "simple-framebuffer";
			reg = <0x2 0x573a0000 0x0 0x007e9000>;
			memory-region = <&fb>;
			power-domains = <&bpmp TEGRA194_POWER_DOMAIN_DISP>;
			clocks = <&bpmp TEGRA194_CLK_SOR1_REF>,
				 <&bpmp TEGRA194_CLK_SOR1_OUT>,
				 <&bpmp TEGRA194_CLK_SOR1_PAD_CLKOUT>,
				 <&bpmp TEGRA194_CLK_PLLD2>,
				 <&bpmp TEGRA194_CLK_PLLDP>,
				 <&bpmp TEGRA194_CLK_NVDISPLAY_DISP>,
				 <&bpmp TEGRA194_CLK_NVDISPLAYHUB>,
				 <&bpmp TEGRA194_CLK_NVDISPLAY_P0>;
			width = <1920>;
			height = <1080>;
			stride = <7680>;
			format = "a8b8g8r8";
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		fb: framebuffer@2,573a0000 {
			compatible = "simple-framebuffer";
			reg = <0x2 0x573a0000 0x0 0x007e9000>;
			iommu-addresses = <&dc0 0x2 0x573a0000 0x0 0x007e9000>;
		};
	};
};
