// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/input/gpio-keys.h>

#include "tegra234-p3767-0000.dtsi"
#include "tegra234-p3768-0000.dtsi"

/ {
	compatible = "nvidia,p3768-0000+p3767-0000", "nvidia,p3767-0000", "nvidia,tegra234";
	model = "NVIDIA Jetson Orin NX Engineering Reference Developer Kit";

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		fb: framebuffer@0 {
			compatible = "framebuffer";
			reg = <0x0 0x0 0x0 0x0>;
			iommu-addresses = <&dc0 0x0 0x0 0x0 0x0>;
		};
	};

	aliases {
		serial1 = &uarta;
		serial2 = &uarte;
	};

	chosen {
		framebuffer {
			compatible = "simple-framebuffer";
			status = "disabled";
			memory-region = <&fb>;
			power-domains = <&bpmp TEGRA234_POWER_DOMAIN_DISP>;
			clocks = <&bpmp TEGRA234_CLK_HUB>,
				 <&bpmp TEGRA234_CLK_DISP>,
				 <&bpmp TEGRA234_CLK_NVDISPLAY_P0>,
				 <&bpmp TEGRA234_CLK_DPAUX>,
				 <&bpmp TEGRA234_CLK_DISPPLL>,
				 <&bpmp TEGRA234_CLK_DISPHUBPLL>,
				 /* MORE!!! */
				 <&bpmp TEGRA234_CLK_NVDISPLAY_P1>,
				 <&bpmp TEGRA234_CLK_FUSE>,
				 <&bpmp TEGRA234_CLK_DSIPLL_VCO>,
				 <&bpmp TEGRA234_CLK_DSIPLL_CLKOUTPN>,
				 <&bpmp TEGRA234_CLK_DSIPLL_CLKOUTA>,
				 <&bpmp TEGRA234_CLK_SPPLL0_VCO>,
				 <&bpmp TEGRA234_CLK_SPPLL0_CLKOUTPN>,
				 <&bpmp TEGRA234_CLK_SPPLL0_CLKOUTA>,
				 <&bpmp TEGRA234_CLK_SPPLL0_CLKOUTB>,
				 <&bpmp TEGRA234_CLK_SPPLL0_DIV10>,
				 <&bpmp TEGRA234_CLK_SPPLL0_DIV25>,
				 <&bpmp TEGRA234_CLK_SPPLL0_DIV27PN>,
				 <&bpmp TEGRA234_CLK_SPPLL1_VCO>,
				 <&bpmp TEGRA234_CLK_SPPLL1_CLKOUTPN>,
				 <&bpmp TEGRA234_CLK_SPPLL1_DIV27PN>,
				 <&bpmp TEGRA234_CLK_VPLL0_REF>,
				 <&bpmp TEGRA234_CLK_VPLL0>,
				 <&bpmp TEGRA234_CLK_VPLL1>,
				 <&bpmp TEGRA234_CLK_NVDISPLAY_P0_REF>,
				 <&bpmp TEGRA234_CLK_RG0>,
				 <&bpmp TEGRA234_CLK_RG1>,
				 <&bpmp TEGRA234_CLK_DSI_LP>,
				 <&bpmp TEGRA234_CLK_DSI_CORE>,
				 <&bpmp TEGRA234_CLK_DSI_PIXEL>,
				 <&bpmp TEGRA234_CLK_PRE_SOR0>,
				 <&bpmp TEGRA234_CLK_PRE_SOR1>,
				 <&bpmp TEGRA234_CLK_DP_LINK_REF>,
				 <&bpmp TEGRA234_CLK_SOR_LINKA_INPUT>,
				 <&bpmp TEGRA234_CLK_SOR_LINKA_AFIFO>,
				 <&bpmp TEGRA234_CLK_SOR_LINKA_AFIFO_M>,
				 <&bpmp TEGRA234_CLK_RG0_M>,
				 <&bpmp TEGRA234_CLK_RG1_M>,
				 <&bpmp TEGRA234_CLK_SOR0_M>,
				 <&bpmp TEGRA234_CLK_SOR1_M>,
				 <&bpmp TEGRA234_CLK_PLLHUB>,
				 <&bpmp TEGRA234_CLK_SOR0>,
				 <&bpmp TEGRA234_CLK_SOR1>,
				 <&bpmp TEGRA234_CLK_SOR_PAD_INPUT>,
				 <&bpmp TEGRA234_CLK_PRE_SF0>,
				 <&bpmp TEGRA234_CLK_SF0>,
				 <&bpmp TEGRA234_CLK_SF1>,
				 <&bpmp TEGRA234_CLK_DSI_PAD_INPUT>,
				 <&bpmp TEGRA234_CLK_PRE_SOR0_REF>,
				 <&bpmp TEGRA234_CLK_PRE_SOR1_REF>,
				 <&bpmp TEGRA234_CLK_SOR0_PLL_REF>,
				 <&bpmp TEGRA234_CLK_SOR1_PLL_REF>,
				 <&bpmp TEGRA234_CLK_SOR0_REF>,
				 <&bpmp TEGRA234_CLK_SOR1_REF>,
				 <&bpmp TEGRA234_CLK_OSC>,
				 <&bpmp TEGRA234_CLK_DSC>,
				 <&bpmp TEGRA234_CLK_MAUD>,
				 <&bpmp TEGRA234_CLK_AZA_2XBIT>,
				 <&bpmp TEGRA234_CLK_AZA_BIT>,
				 <&bpmp TEGRA234_CLK_MIPI_CAL>,
				 <&bpmp TEGRA234_CLK_UART_FST_MIPI_CAL>,
				 <&bpmp TEGRA234_CLK_SOR0_DIV>;
			/*
			resets = <&bpmp TEGRA234_RESET_NVDISPLAY>,
				 <&bpmp TEGRA234_RESET_DPAUX>,
				 <&bpmp TEGRA234_RESET_DSI_CORE>,
				 <&bpmp TEGRA234_RESET_MIPI_CAL>;
			*/
			width = <0>;
			height = <0>;
			stride = <0>;
			format = "x8r8g8b8";
		};
	};

	bus@0 {
		serial@3100000 {
			compatible = "nvidia,tegra194-hsuart";
			reset-names = "serial";
			status = "okay";
		};

		serial@3140000 {
			compatible = "nvidia,tegra194-hsuart";
			reset-names = "serial";
			status = "okay";
		};

		pwm@32a0000 {
			assigned-clocks = <&bpmp TEGRA234_CLK_PWM3>;
			assigned-clock-parents = <&bpmp TEGRA234_CLK_PLLP_OUT0>;
			status = "okay";
		};

		hda@3510000 {
			nvidia,model = "NVIDIA Jetson Orin NX HDA";
			status = "okay";
		};

		padctl@3520000 {
			status = "okay";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		key-force-recovery {
			label = "Force Recovery";
			gpios = <&gpio TEGRA234_MAIN_GPIO(G, 0) GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_KEY>;
			linux,code = <BTN_1>;
		};

		key-power {
			label = "Power";
			gpios = <&gpio_aon TEGRA234_AON_GPIO(EE, 4) GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_KEY>;
			linux,code = <KEY_POWER>;
			wakeup-event-action = <EV_ACT_ASSERTED>;
			wakeup-source;
		};

		key-suspend {
			label = "Suspend";
			gpios = <&gpio TEGRA234_MAIN_GPIO(G, 2) GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_KEY>;
			linux,code = <KEY_SLEEP>;
		};
	};

	pwm-fan {
		cooling-levels = <0 88 187 255>;
	};

	vdd_3v3_pcie: regulator-vdd-3v3-pcie {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3_PCIE";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio_aon TEGRA234_AON_GPIO(AA, 5) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	thermal-zones {
		tj-thermal {
			cooling-maps {
				map-active-0 {
					cooling-device = <&fan 0 1>;
					trip = <&tj_trip_active0>;
				};

				map-active-1 {
					cooling-device = <&fan 1 2>;
					trip = <&tj_trip_active1>;
				};

				map-active-2 {
					cooling-device = <&fan 2 3>;
					trip = <&tj_trip_active2>;
				};
			};
		};
	};
};
